.render_center{
    margin-left: 60ch; 
    margin-right: 60ch; 
    margin-top: 15ch;
}
.render_center2{
    margin-left: 50ch;
    margin-right: 60ch;
    margin-top: 10ch;
}
.render_center3{
    margin-left: 50ch;
    margin-right: 60ch;
    margin-top: 0ch;
}